service: hello-serverless

frameworkVersion: "4"

provider:
  name: aws
  runtime: nodejs18.x
  region: us-east-1

functions:
  hello:
    handler: handler.hello
    events:
      - httpApi:
          path: /hello
          method: get

plugins:
  - serverless-offline

custom:
  serverless-offline:
    httpPort: 3000
